/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
}

section{
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	padding-top: 80px;
	padding-bottom: 80px;
	gap:30px;
}

header, footer{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
}

h1{
	color: white;
	font-size: 52px;
	word-spacing: 1.5px;
}

h2{
	color: #3e606b;
	font-size: 36px;
	word-spacing: 1.5px;
}

p{
	color:#242424;
	font-size: 18px;
	word-spacing: 1.5px;
}

a{
	background-color: #f195b2;
	text-decoration: none;
	color:white;
	padding: 15px 40px;
	border-radius: 30px;
}

a:hover{
	background-color: #d2567d;
}

header{
	display:flex;
	justify-content: space-between;
}

header>img{
	width: 170px;

}

header>ul{
	list-style: none;
	display:flex;
	flex-basis: 50%;
}

header li{
	flex-grow: 1;
}

header a{
	background-color: transparent;
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	border-radius: 20px;
}

header a:hover{
	text-decoration: none;
	background-color: #f195b2;
	color: white;
}

#hero{
	display:flex;
}

#hero .text{
	flex-basis: 60%;
}

#hero p{
	color: white;
	font-size: 24px;
	font-style: italic;
}

#vitej{
	display:flex;
	position: relative;
}

#vitej a{
	position: relative;
	bottom: -35px;
}

#pozadi_obrazek{
	background-size: cover;
	background-image: url(images/cupcake.jpg);
}

#pozadi_barva{
	background-size: cover;
	background-color:#f0f0f0;
}

#nabidka .contejner{
	display:flex;
	gap: 30px;
	justify-content: space-between;
}

#nabidka .produkt{
	background-color: white;
	border-radius: 5px;
	text-align: center;
	flex-basis: 245px;
	border: none;
	box-shadow: 1px 1px 5px rgb(225, 223, 223);
}
#nabidka .produkt>img{
	border-radius: 5px 5px 0px 0px;
	width: 245px;
}

#peceni{
	display:flex;
	align-items: center;
}

#peceni>.levy>img, #vitej>.pravy>img{
	border-radius: 5px;
}

.levy img, .pravy img{
	width: 535px;
}
footer{
	background-color: #303339;
	min-width: 100vw;
	position:relative;
	text-align: center;
}

footer>p{
	color:white;
}